




* {
	margin:0;
	padding:0;
	
	}
	
body {
	background-color:black;
	color:#c1b492;
	letter-spacing:8px;
	image-rendering: pixelated;
	text-align:center;

	
	}
	
img {
	opacity:0;
	animation: opacity 0.2s ease-in forwards;
	animation-delay:0.6s;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	
	}
	
	
#intro {
	font-weight:normal;
	font-size:40px;
	letter-spacing:14px;
	margin-bottom:-10px;
	}
	
.jp {
	font-size:30px;
	margin-bottom:100px;
	letter-spacing:0px;
	font-smooth: auto;
	-webkit-font-smoothing : auto;
	}
	
.descp {
	margin-top:0px;
	display:inline-block;
	width:450px;
	font-size:10px;
	margin-bottom:10px;
	text-align:left;
	clear:both;
	text-indent:-77px;
	letter-spacing:4px;



	
	}
	
.descp:first-line {
	text-indent:0px;
	}
	
b {
	color:#d2738a;	
	letter-spacing:8px;
	}
	
a {
	margin-bottom:140px;
	font-size:10px;
	
	
	}

hr {
	border-color:#c1b492;
	display:inline-block;
	width:170px;
	border-style:solid;
	box-shadow:none;
	border-bottom:0px;
	}
	
a {
	text-decoration:none;
	transition: color 0.5s ease-out;
	display:inline-block;

	
	}
	
a:link {
	color:#d2738a;
	}
	
a:visited {
	color:#d2738a;
	}
	
a:hover {
	color:#c1b492;

	}
	
a:active {
	color:#d2738a;
	}
	


	
.button {
	color:#dfd5bc;
	background-color:rgba(0,0,0,0.0);
	width:200px;
	cursor:pointer;
	padding-left:12px;
	padding-top:2px;
	padding-bottom:2px;
	letter-spacing:8px;
	transition: color 0.5s ease-out, border-color 0.5s ease-out;
	text-align:center;
	border-radius:20px;
	border-style: solid;
    border-width: 2px;
	border-color:#dfd5bc;
	line-height:50px;
	margin-bottom:100px;
	
	}
	
.button:hover {
	color:#d2738a;
	border-color:#d2738a;


	
	}
	



.dark {
	position:relative;
	width:100%;
	height:100%;
	background-image:url(https://64.media.tumblr.com/74485f230ab48ffd4bd2a71165131754/86160a6e43d784c1-04/s1280x1920/9700e02a0c983582b21fea2df7273a382fb0bc2d.gifv);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
	


	
.opacity  {
	position:relative;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.0);
	animation: opacityBg 0.3s linear forwards;
	animation-delay:0.6s;

	}
	
.opacityContent {
	opacity:0;
	animation: opacity 1s ease-in forwards;
	animation-delay:3s;
	
	}
	
.opacityContent2 {
	opacity:0;
	animation: opacity 1s ease-in forwards;
	animation-delay:3.5s;
	
	}
	
@keyframes darkest {
  from {
	  background-position-y:1024px;
  }
  to {
	   background-position-x:-1024px;
	  }
 }
 
 
@keyframes darkestDown {
  from {
	  background-position-y:-1024px;
  }
  to {
	   background-position-x:1024px;
	  }
 }
 
 
 @keyframes wiredGangAn {
  from {
	  background-position-x:341px;
  }
  to {
	   background-position-x:-341px;
	  }
 }
 
 @keyframes opacity {
  from {
	  opacity:0;
  }
  to {
	  opacity:1;
	  }
 }
 
 @keyframes opacityBg {
  from {
	background-color:rgba(0,0,0,0.0);
  }
  to {
	background-color:rgba(0,0,0,0.6);
	  }
 }
 
 @keyframes opacityBG{
  0%{opacity:0;}
  50%{opacity:1;}
  100%{opacity:0;}
}
